$break-mid: 980px
$break-small: 700px


body
  background-color: #24272E

#sidebar
  color: #FFF
  background-color: #1F2226

  position: fixed
  top: 0px
  left: 0px
  bottom: 0px
  width: 280px
  padding: 20px

  .logo-cont

    .logo
      background: 
        image: url(../assets/imgs/logo/mp_logo_color_256.png)
        repeat: no-repeat
        size: contain
      width: 150px
      height: 150px
      position: relative
      left: 50%
      transform: translateX(-50%)
      display: inline-block

      @media screen and (max-height: 680px)
        display: none

    h1
      display: none
      font-family: adelle, skolar-sans-latin, Helvetica, Arial, sans-serif
      font-size: 5.5rem
      line-height: 1.1em
      margin: 0px 0px
      color: #FFF
      text-decoaration: none

  .bottom
    position: absolute
    bottom: 20px
    width: calc(100% - 40px)
    box-sizing: border-box

    h1
      font-family: adelle, skolar-sans-latin, Helvetica, Arial, sans-serif
      font-size: 5.5rem
      line-height: 1.1em
      margin: 0px 0px
      color: #FFF
      text-decoration: none

      @media screen and (max-height: 650px)
        font-size: calc(10vh - 10px)

    a:hover
      text-decoration: none

    .description
      font-size: 2.2rem
      opacity: 0.7
      line-height: 1.4em
      font-weight: 600
      width: 100%

    nav
      margin-top: 30px

      a
        display: block
        width: auto
        float: none
        padding: 3px 10px 3px 0px
        opacity: 0.7
        font-size: 2rem
        position: relative
        text-decoration: none
        color: #FFF
        line-height: 1.4em
        font-weight: 600

        &:before
          position: absolute
          content: ""
          background-color: #E31EAA

          width: 2px
          height: 0px

          left: -10px
          bottom: 1.5rem
          transition: all 150ms ease-in-out

        &:hover
          opacity: 1

        &:hover:before
          position: absolute
          content: ""
          background-color: #E31EAA

          width: 2px
          height: 2.6rem

          left: -10px
          bottom: 0.1rem

        &:visited
          color: inherit

      .current
        opacity: 1

    .socials
      margin-top: 20px

    .social
      background-color: transparent

      width: 32px
      height: 32px
      background-size: contain
      margin-right: 5px

      display: inline-block

    .s-linkedin
      background-image: url(../assets/imgs/soc_logos/linkedin.png)
      &:hover
        background-image: url(../assets/imgs/soc_logos/linkedin_h.png)

    .s-artstation
      background-image: url(../assets/imgs/soc_logos/artstation.png)
      &:hover
        background-image: url(../assets/imgs/soc_logos/artstation_h.png)

    .s-youtube
      background-image: url(../assets/imgs/soc_logos/youtube.png)
      &:hover
        background-image: url(../assets/imgs/soc_logos/youtube_h.png)

    .s-vimeo
      background-image: url(../assets/imgs/soc_logos/vimeo.png)
      &:hover
        background-image: url(../assets/imgs/soc_logos/vimeo_h.png)

    .s-twitter
      background-image: url(../assets/imgs/soc_logos/twitter.png)
      &:hover
        background-image: url(../assets/imgs/soc_logos/twitter_h.png)