    {% include head.html %}

    {% include sidebar.html %}

    <div id="wrapper">
        <div id="content">

            <h1>{{ page.title }}</h1>

            <hr>

            {{ content }}

            {% if page.next.url or page.previous.url %}
            {% if page.next.layout == "post" or page.previous.layout == "post" %}
                <div class="grid">

                {% if page.next.layout == "post" and page.previous.layout == "post" %}
                    <div class="col col--4-of-12 col--push-2-of-12">
                        <a href="{{site.url}}{{site.add-url}}/{{ page.next.url }}" class="btn">
                            Newer Post
                        </a>
                    </div>

                    <div class="col col--4-of-12">
                        <a href="{{site.url}}{{site.add-url}}/{{ page.previous.url }}" class="btn">
                            Older Post
                        </a>
                    </div>

                    {% elsif page.next.layout == "post" %}
                        <div class="col col--4-of-12 col--push-2-of-12">
                            <a href="{{site.url}}{{site.add-url}}/{{ page.next.url }}" class="btn">
                                Newer Post
                            </a>
                        </div>
                    
                    {% elsif page.previous.layout == "post" %}

                        <div class="col col--4-of-12 col--push-6-of-12">
                            <a href="{{site.url}}{{site.add-url}}/{{ page.previous.url }}" class="btn">Older Post</a>
                        </div>

                {% endif %}
                    
            {% endif %}
            {% endif %}

            {% if page.comments %}

                {% include disqus.html %}
                                
            {% endif %}

            {% include copyright.html %}

        </div>
    </div>

</body>